#centerContent {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0px;
}
            
#calendarContainer {
    display:grid;
    grid-template-columns: repeat(7, auto);
    /*placed grid-template-rows into js of each;*/
    row-gap: 0;
    margin:auto;
    margin-bottom: 20px;      
}

#calendarContainer > p {
    margin: 0;
    font-size: 0.8em;
    user-select: none;
}

#calendarContainer > h6 {
    margin: 0;
    font-size: 1em;
    user-select: none;
}

.times {
    grid-column: 1;
    visibility: hidden;       
}
.Sunday {
    grid-column: 2;
}
.Monday {
    grid-column: 3;
}
.Tuesday {
    grid-column: 4;
}
.Wednesday {
    grid-column: 5;
}
.Thursday {
    grid-column: 6;
}
.Friday {
    grid-column: 7;
}
.Saturday {
    grid-column: 8;
}

.color0 {
    background-color: rgba(150, 43, 52, 0.644);
}
.color1 {
    background-color: rgba(100, 237, 162, 0.589);
}

.color2 {
    background-color: rgba(150, 150, 43, 0.603);
}

.color3 {
    background-color: rgba(64, 150, 43, 0.603);
}