@import url('https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Archivo+Black&family=Secular+One&display=swap');

body {
  background-color: #1B1C1D;
}
h3 {
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  font-family: 'Secular One', sans-serif;
  -webkit-text-stroke: 2px rgba(131, 119, 235, 0.589);
}
h4 {
  padding-top: 10px;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
}

/* carousel text */
.carousel-caption p {
  padding: 2px;
  background: rgba(15, 22, 122, 0.719);
  border: 0px solid rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 0;
}

.btn-secondary {
  margin: 5px;
  width: 100px;
}
.homepage-text {
  font-size: 1.6em;
}
#update-profile-header {
  text-align: center;
}

@media screen and (min-width: 800px) {

  .homepage-button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
  }
}

.carousel-indicators .active {
  background-color: rgb(8, 49, 231);
}
.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(27, 70, 212, 0.13);
}
