
body {
  background-color: #1B1C1D;
}

h1 {
  padding-top: 10px;
  text-align: center;
  font-family: Roboto;
}

.btn-secondary {
  margin: 5px;
  width: 100px;
}
.form-group {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}
.jumbotron {
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
  padding: 20px 0 0 0;
  margin: 0px;
  text-align: center;
}
.find-button {
  border-radius: 0px;
  position: relative;
  width: 100%;
}
.homepage-button {
  border-radius: 0px;
  position: relative;
  width: 100%;
  height: 60px;
}
.homepage-text {
  font-size: 1.6em;
}

#update-profile-header {
  text-align: center;
}
@media screen and (min-width: 800px) {

  .homepage-button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
  }
}


