/* set border color for modal */
.modal-body, .modal-header {
  border: 3px solid rgb(255, 255, 255);
}

/* the whole modal itself */
#exampleModalCenter {
  color: black;
  width: 100vw;
  height: 100%;
}
.modal-body {
  background-color: rgb(185, 185, 185);
  border-top: none;
}
.modal-header {
  background-color: rgb(68, 68, 68);
  color: white;
  border-bottom: none;
}
.modal-footer {
  background-color: rgb(185, 185, 185);
  color: white;
}
img.mr-3 {
 border-radius: 100px;
}
button.close {
  color: white;
}
#calendarContainer {
  padding: 0px;
}

/* review submitted (in previous sessions) modal */
#review-submitted-modal {
  width: 95vw;
  margin: 0px;
}

#review-submitted-close-button {
  background-color: #2E479E;
}