body {
  margin: 0;
  font-family: "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: #1B1C1D;
}

/* button styles */
.btn-link:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}
.btn-link {
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
}
.btn-link:hover {
  text-decoration: none;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  transition: color 0.15s ease-in-out;
  width: 40%;
}
.leave-review-button, #submitReview {
  height: 70px;
  width: 140px;
}

/* card styles */
.card-header {
  padding: 0.5rem 0.5rem;
  margin-bottom: 0;
  background-color: rgb(56, 56, 56);
  border: 0px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #1B1C1D;
  border: 5px solid #1B1C1D;
  margin: -2px;
}
.card-header {
  padding: 0;
  margin: 0;
}
.card-body {
  padding: 1.25rem;
  background-color: rgb(226, 226, 226);
  width: 100%;
}
.card-img {
  margin: 10px 0;
  width: 100%;
  border-radius: 1000px;
  border: 5px solid rgb(255, 255, 255);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

/* card-img background colour */
div.row.no-gutters {
  background-color:rgb(0, 59, 126);
}
.col-md-2 {
  display: grid;
}

/* session ID text */
.text-muted {
  color: #aaaaaa !important;
}

.nav-link {
  font-size: 15px;
}





/* media queries for tutor profile image */
@media screen and (min-width: 801px) {
  .card-img {
    margin-top:10px;
    margin-left: 0px;
    border-radius: 1000px;
    max-width: 183px;
    max-height: 183px;
  }
}
@media screen and (max-width: 800px) {
  .card-img {
    max-width: 200px;
  }

}
