@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');

body {

}

.body-container {
  position: relative;
  max-width: 500px;
  left: 50%;
  transform: translate(-50%, 0);
}

.profile-text-container {
  
}

.modal-body {
  background-color: rgb(212, 212, 212);
  color: black;
}

.modal-title {
  color: black;
}

.btn-secondary {
  margin: 5px;
  width: 100px;
}
.form-group {
  padding-top: 0px;
  font-weight: none;
}
.jumbotron {

  border-radius: 0px;
  padding: 20px 0 0 0;
  margin: 0px;
  text-align: center;
}
.find-button {
  border-radius: 0px;
  position: relative;
  width: 100%;
}
.homepage-button {
  border-radius: 0px;
  position: relative;
  width: 100%;
  height: 60px;
}
.homepage-text {
  font-size: 1.6em;
}

#update-profile-header {
  text-align: center;
}

center {
	width: 60%;
}

#profile-pic {
	width: 100%;
	height: auto;
	transform: translate(33%, 0);
	border: 5px solid white;
}

h6 {
  text-align: center;
}

@media screen and (min-width: 800px) {

  .homepage-button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
  }
}

h5 {
  color: rgb(150, 150, 150);
  background-color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
  font-size: 14px;
}


/* profile headers */


.edit-profile-text {
  padding-left: 40px;
  font-size: 18px;
  /* font-family: 'Glegoo', serif; */
  font-family: Roboto;
}

.edit-profile-head {
  padding-left: 20px;
  background-color: rgb(63, 63, 63);

  color: rgb(0, 0, 0);
}

/* background color */

h5, body, .jumbotron {
  background-color:  #1B1C1D;
}

h4 {
  background-color:  #1B1C1D;
}


/* edit profile button */


.btn {
  display: inline-block;
  position: relative;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  /* font-size: 1rem; */
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  left: 50%;
  transform: translate(-50%, 0);
}


/* For the subject buttons */

.button-cont {
  position: relative;
  max-width: 550px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0px;
  margin: 0px;
}

.ck-button {
  margin: 5px;
  background-color:#EFEFEF;
  border-radius: 5px;
  overflow:auto;
  float:left;
}

.ck-button label {
  /* float:left; */

  width: 100px;
  height: 25px;
  
}

.ck-button label span {
  text-align:center;
  display:block;
  padding-top: 1px;
}

.ck-button label input {
  position:absolute;
  top:10px;
  left: 10px;
  z-index: -1;
}

.ck-button input:checked + span {
  background-color:#6c757d;
  color:#fff;
}
