
body {

}

.body-container {
  position: relative;
  max-width: 800px;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn-secondary {
  margin: 5px;
  width: 100px;
}
.form-group {
  padding-top: 20px;
  
  font-weight: bold;
}
.jumbotron {

  border-radius: 0px;
  padding: 20px 0 0 0;
  margin: 0px;
  text-align: center;
}
.find-button {
  border-radius: 0px;
  position: relative;
  width: 100%;
}
.homepage-button {
  border-radius: 0px;
  position: relative;
  width: 100%;
  height: 60px;
}
.homepage-text {
  font-size: 1.6em;
}

#update-profile-header {
  text-align: center;
}


h6 {
  text-align: center;
}

@media screen and (min-width: 800px) {

  .homepage-button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
  }
}

h5 {
  color: rgb(150, 150, 150);
  background-color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
}

/* background color */

h5, body, .jumbotron {
  background-color:  #1B1C1D;
}

h4 {
  background-color:  #1B1C1D;
}






/* For the subject buttons */

.button-cont {
  position: relative;
  max-width: 550px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0px;
  margin: 0px;
}

.ck-button {
  margin: 5px;
  background-color:#EFEFEF;
  border-radius: 5px;
  overflow:auto;
  float:left;
}

.ck-button label {
  /* float:left; */

  width: 100px;
  height: 25px;
  
}

.ck-button label span {
  text-align:center;
  display:block;
  padding-top: 1px;
}

.ck-button label input {
  position:absolute;
  top:10px;
  left: 10px;
  z-index: -1;
}

.ck-button input:checked + span {
  background-color:#6c757d;
  color:#fff;
}
