body {
  background-color: #1B1C1D;
}
.body-container {
  background-color: #1B1C1D;
  max-width: 800px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.btn-secondary {
  margin: 3px;
  width: 100px;
}
.form-group {
  padding-top: 20px;
  font-weight: bold;
}
.jumbotron {
  background-color: #1B1C1D;
  border-radius: 0px;
  padding: 20px 0 0 0;
  margin: 0px;
  text-align: center;
}
.find-button {
  border-radius: 0px;
  position: relative;
  width: 100%;
}
.homepage-button {
  border-radius: 0px;
  position: relative;
  width: 100%;
  height: 60px;
}
.homepage-text {
  font-size: 1.6em;
}
#update-profile-header {
  text-align: center;
}
h6 {
  text-align: center;
  
}
span {
  cursor: pointer;
}

/* keyword search bar */
.keyword-search-bar {
  grid-column: 2;
}

.keyword-search-bar-container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 30px;
}

/* For the subject checkboxes */
.button-cont {
  position: relative;
  max-width: 550px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0px;
  margin: 0px;
}

.ck-button {
  margin: 5px;
  background-color:#EFEFEF;
  border-radius: 5px;
  overflow:auto;
  float:left;
}

.ck-button label {
  width: 100px;
  height: 25px;
}

.ck-button label span {
  text-align:center;
  display:block;
  padding-top:1px;
  color:#000000;
}

.ck-button label input {
  position:absolute;
  top:10px;
  left:10px;
  z-index:-1;
}

/* animation for button */
@keyframes colorAnim {
	from {background-color: #EFEFEF; }
	to {background-color: #02ff88; }
}

.ck-button input:checked + span {
  height: 33px;
  background-color:#02ff88;
  color:#000000;
  animation: colorAnim 0.5s forwards;
}
