/* .edit-profile-text {
  padding-left: 40px;

} */


body {
  background: #1B1C1D;
}

.body-container {
  background-color: #1B1C1D;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 500px;
  color: white;
}

h6 {
  text-align: center;
  background-color: rgb(189, 189, 189, 0.1);
  font-size: 17px;
  font-family: Roboto;
  color: rgb(255, 255, 255, 255);
}

/* submit button */

#submit-button {
  display: inline-block;
  position: relative;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  left: 50%;
  transform: translate(-50%, 0);
}


.submit-button {
  
  border-radius: 0px;
  width: 100%;
}

/* add time slot button */

.timeslot {

}

#add-time-slot {
  width: auto;
  float: right;
  padding: 2px 5px;
}



/* for checkboxes */

.button-cont {
  position: relative;
  max-width: 550px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0px;
  margin: 0px;
}



.ck-button {
  margin: 5px;
  background-color:#EFEFEF;
  border-radius: 5px;
  overflow:auto;
  float:left;
}

.ck-button label {
  width: 100px;
  height: 25px;
}

.ck-button label span {
  text-align:center;
  display:block;
  padding-top:1px;
  color:#000000;
}

.ck-button label input {
  position:absolute;
  top:10px;
  left:10px;
  z-index:-1;
}

@keyframes colorAnim {
	from {background-color: #EFEFEF; }
	to {background-color: #02ff88; }
}

.ck-button input:checked + span {
  height: 33px;
  background-color:#02ff88;
  color:#000000;
  animation: colorAnim 0.5s forwards;
}




/* start-end section */

.start-end-container {


}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  max-width: none;
}

/* hourly rate section */

.dropdown-modifier {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
}
